<%- include('parts/html_head')%>
<%- include('parts/navbar')%>
<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>編號</th>
                    <th>姓名</th>
                    <th>年齡</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let i of sales){%>
                        <tr>
                            <td><%= i.id %></td>
                            <td><%= i.name %></td>
                            <td><%= i.age %></td>
                        </tr>
                    <% } %>
                </tbody>
              </table>
        </div>
    </div>
</div>
<%- include('parts/script')%>
<%- include('parts/html_foot')%>